*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    color:black;
  }
  .mainimage{
    width:100%;
    height:680px;
  }
  
  
  .fstbtn-link{
    background-color:rgb(133, 188, 24);
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 10px;
    color: white;
  }
  .hero-image {
    position: relative; 
    
    
    background-size: cover; 
    
  }
  
  .hero-text {
    position: absolute; 
    top: 50%; 
    left: 70%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center; 
  }